Create a function named `calculate()` in `mean_var_std.py` that uses Numpy to output the mean, variance, standard deviation, max, min, and sum of the rows, columns, and elements in a 3 x 3 matrix.

The input of the function should be a `list containing 9 digits`. The function should `convert the list into a 3 x 3 Numpy array`, and then return a `dictionary` containing the mean, variance, standard deviation, max, min, and sum along both axes and for the flattened matrix.

The returned dictionary should follow this format:

```python
{
  'mean': [axis1, axis2, flattened],
  'variance': [axis1, axis2, flattened],
  'standard deviation': [axis1, axis2, flattened],
  'max': [axis1, axis2, flattened],
  'min': [axis1, axis2, flattened],
  'sum': [axis1, axis2, flattened]
}

__1. import required libraries__

In [1]:
import numpy as np
import pandas as pd

__2. calculate() function__

In [2]:
def calculate(list):
    
    arr=np.array(list).reshape(3,3)
    mean_axis1=[]
    mean_axis2=[]
    var_axis1=[]
    var_axis2=[]
    std_axis1=[]
    std_axis2=[]
    max_axis1=[]
    max_axis2=[]
    min_axis1=[]
    min_axis2=[]
    sum_axis1=[]
    sum_axis2=[]

    for i in range(arr.shape[0]):
        mean_axis1.append(np.mean(arr[:,i:i+1]))
        var_axis1.append(np.var(arr[:,i:i+1]))
        std_axis1.append(np.std(arr[:,i:i+1]))
        max_axis1.append(np.max(arr[:,i:i+1]))
        min_axis1.append(np.min(arr[:,i:i+1]))
        sum_axis1.append(np.sum(arr[:,i:i+1]))


    for j in range(arr.shape[0]):
        mean_axis2.append(np.mean(arr[j:j+1,:]))
        var_axis2.append(np.var(arr[j:j+1,:]))
        std_axis2.append(np.std(arr[j:j+1,:]))
        max_axis2.append(np.max(arr[j:j+1,:]))
        min_axis2.append(np.min(arr[j:j+1,:]))
        sum_axis2.append(np.sum(arr[j:j+1,:]))

    mean=[mean_axis1,mean_axis2,np.mean(arr)]
    var=[var_axis1,var_axis2,np.var(arr)]
    std=[std_axis1,std_axis2,np.std(arr)]
    max_v=[max_axis1,max_axis2,np.max(arr)]
    min_v=[min_axis1,min_axis2,np.min(arr)]
    sum_v=[sum_axis1,sum_axis2,np.sum(arr)]



    calculations =  {
          'mean': mean,
          'variance': var,
          'standard deviation': std,
          'max': max_v,
          'min': min_v,
          'sum': sum_v
       }
    return calculations

__3. Test the function__

In [3]:
 calculate([0,1,2,3,4,5,6,7,8])

{'mean': [[3.0, 4.0, 5.0], [1.0, 4.0, 7.0], 4.0],
 'variance': [[6.0, 6.0, 6.0],
  [0.6666666666666666, 0.6666666666666666, 0.6666666666666666],
  6.666666666666667],
 'standard deviation': [[2.449489742783178,
   2.449489742783178,
   2.449489742783178],
  [0.816496580927726, 0.816496580927726, 0.816496580927726],
  2.581988897471611],
 'max': [[6, 7, 8], [2, 5, 8], 8],
 'min': [[0, 1, 2], [0, 3, 6], 0],
 'sum': [[9, 12, 15], [3, 12, 21], 36]}

## Demographic Data Analyzer

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

|    |   age | workclass        |   fnlwgt | education   |   education-num | marital-status     | occupation        | relationship   | race   | sex    |   capital-gain |   capital-loss |   hours-per-week | native-country   | salary   |
|---:|------:|:-----------------|---------:|:------------|----------------:|:-------------------|:------------------|:---------------|:-------|:-------|---------------:|---------------:|-----------------:|:-----------------|:---------|
|  0 |    39 | State-gov        |    77516 | Bachelors   |              13 | Never-married      | Adm-clerical      | Not-in-family  | White  | Male   |           2174 |              0 |               40 | United-States    | <=50K    |
|  1 |    50 | Self-emp-not-inc |    83311 | Bachelors   |              13 | Married-civ-spouse | Exec-managerial   | Husband        | White  | Male   |              0 |              0 |               13 | United-States    | <=50K    |
|  2 |    38 | Private          |   215646 | HS-grad     |               9 | Divorced           | Handlers-cleaners | Not-in-family  | White  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  3 |    53 | Private          |   234721 | 11th        |               7 | Married-civ-spouse | Handlers-cleaners | Husband        | Black  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  4 |    28 | Private          |   338409 | Bachelors   |              13 | Married-civ-spouse | Prof-specialty    | Wife           | Black  | Female |              0 |              0 |               40 | Cuba             | <=50K    |



You must use Pandas to answer the following questions:

- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column).
- What is the average age of men?
- What is the percentage of people who have a Bachelor's degree?
- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
- What percentage of people without advanced education make more than 50K?
- What is the minimum number of hours a person works per week?
- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
- What country has the highest percentage of people that earn >50K and what is that percentage?
- Identify the most popular occupation for those who earn >50K in India. in India.

__1. Read data__

In [4]:
df=pd.read_csv("data/adult.data.csv")
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

__2. How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.__

In [5]:
race_count=df["race"].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

__3. What is the average age of men?__

In [6]:
average_age_men=df.groupby("sex")["age"].mean()
print(average_age_men["Male"])

39.43354749885268

__4. What is the percentage of people who have a Bachelor's degree?__

In [7]:
percentage_bachelors=(len(df[df["education"]=="Bachelors"])/len(df))*100
percentage_bachelors

16.44605509658794

__5.  What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?__

__6. What percentage of people without advanced education make more than 50K?__

In [8]:
advanced_education = ["Bachelors", "Masters", "Doctorate"]
higher_education = df[df["education"].isin(advanced_education)]

lower_education = df[~df["education"].isin(advanced_education)]

# Calculate percentage of people with advanced education making more than 50K
higher_education_rich = (len(higher_education[higher_education["salary"] == ">50K"]) / len(higher_education)) * 100

# Calculate percentage of people without advanced education making more than 50K
lower_education_rich = (len(lower_education[lower_education["salary"] == ">50K"]) / len(lower_education)) * 100

print("Percentage of people with advanced education making more than 50K: {:.2f}%".format(higher_education_rich))
print("Percentage of people without advanced education making more than 50K: {:.2f}%".format(lower_education_rich))

Percentage of people with advanced education making more than 50K: 46.54%
Percentage of people without advanced education making more than 50K: 17.37%

__7. What is the minimum number of hours a person works per week (hours-per-week feature)?__

In [9]:
min_work_hours=df["hours-per-week"].min()
print(" Minimum number of hours a person works per week:" , min_work_hours)

 Minimum number of hours a person works per week: 1

__8. What percentage of the people who work the minimum number of hours per week have a salary of >50K?__

In [10]:
num_min_workers=df[df["hours-per-week"]==min_work_hours]
rich_percentage=len(num_min_workers[num_min_workers["salary"]==">50K"])/len(num_min_workers)
print("Percentage of the people who work the minimum number of hours per week have a salary of >50K: {:.2f}%".format(rich_percentage*100))

Percentage of the people who work the minimum number of hours per week have a salary of >50K: 10.00%

__9. What country has the highest percentage of people that earn >50K?__

In [11]:
c_salary_counts = df[df['salary'] == '>50K'].groupby('native-country').size()

c_total_counts = df.groupby('native-country').size()

country_percentages = (c_salary_counts / c_total_counts) * 100

highest_earning_country = country_percentages.idxmax()
highest_earning_country_percentage = country_percentages.max()

print("Country with the highest percentage of people earning >50K:", highest_earning_country)
print("Percentage of people earning >50K in that country:", highest_earning_country_percentage)

Country with the highest percentage of people earning >50K: Iran
Percentage of people earning >50K in that country: 41.86046511627907

__10. Identify the most popular occupation for those who earn >50K in India.__

In [12]:
indian_high_earners = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

occupation_counts = indian_high_earners['occupation'].value_counts()


top_IN_occupation = occupation_counts.idxmax()

print("Most popular occupation for those who earn >50K in India:", top_IN_occupation)

Most popular occupation for those who earn >50K in India: Prof-specialty